In [ ]:
5678+7654+6780

20112

In [ ]:
print ('hello coders')

hello coders

In [ ]:
#K(#Keywords
#(for,while,True,def,int,str,set,dict)
#I (Identifier -  

a = 1
def sum(a,b):
  apple = 78

  class plots()

In [ ]:
#identifier(to whom we assign a values like variable,class or object etc)

#literals(values assigned to a variable or identifier)

#operators(which links identifiers and literals)

#punctuators, some example ( { []}), : ; ' " ''' etc

#here im using variable names and literals to explain about fundamental of python on friday 12/05/2023

#Comments-not included in code but give info. about code

In [ ]:
a = 4
b = 5
c = True
d = 3+5j
e = None

In [ ]:
type(c)

bool

In [ ]:
id(b)

140078679196016

In [ ]:
'''kwmdoiewjdoew'''#using triple quotes we can bulk the code in comment

'kwmdoiewjdoew'

In [ ]:
a = 5
b = 8.5
c = True
d = None
e = 3 + 4j
type (c)

bool

In [ ]:
id(a)

140078679196016

In [ ]:
a = 1
def sum(a,b):
  apple = 78

In [ ]:
print(sum)

<function sum at 0x7f0df1723a30>